BusTicketingSystem/Payment/webassignment/Service References/ServiceReference1/plswork.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paymentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reserveID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Depart" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Arrival" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="seatNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="grandTotal" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertPaymentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retrievePayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RsvID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retrievePaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retrievePaymentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPayment" />
  </wsdl:message>
  <wsdl:message name="InsertPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="retrievePaymentSoapIn">
    <wsdl:part name="parameters" element="tns:retrievePayment" />
  </wsdl:message>
  <wsdl:message name="retrievePaymentSoapOut">
    <wsdl:part name="parameters" element="tns:retrievePaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="plsworkSoap">
    <wsdl:operation name="InsertPayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Payment into Payment table</wsdl:documentation>
      <wsdl:input message="tns:InsertPaymentSoapIn" />
      <wsdl:output message="tns:InsertPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retrievePayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve reserve ID and show related items</wsdl:documentation>
      <wsdl:input message="tns:retrievePaymentSoapIn" />
      <wsdl:output message="tns:retrievePaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="plsworkSoap" type="tns:plsworkSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertPayment">
      <soap:operation soapAction="http://tempuri.org/InsertPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrievePayment">
      <soap:operation soapAction="http://tempuri.org/retrievePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="plsworkSoap12" type="tns:plsworkSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertPayment">
      <soap12:operation soapAction="http://tempuri.org/InsertPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrievePayment">
      <soap12:operation soapAction="http://tempuri.org/retrievePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="plswork">
    <wsdl:port name="plsworkSoap" binding="tns:plsworkSoap">
      <soap:address location="http://localhost:55003/plswork.asmx" />
    </wsdl:port>
    <wsdl:port name="plsworkSoap12" binding="tns:plsworkSoap12">
      <soap12:address location="http://localhost:55003/plswork.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>