BusTicketingSystem/BusTicketingSystem/PlsCan Run/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6911/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PlsCan_Run.Web" />
  <xs:element name="Get_All_Sales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_SalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PlsCan_Run.Web" minOccurs="0" name="Get_All_SalesResult" nillable="true" type="q1:ArrayOfRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Find_Destination">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Names" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Find_DestinationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PlsCan_Run.Web" minOccurs="0" name="Get_Find_DestinationResult" nillable="true" type="q2:ArrayOfRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>