BusTicketingSystem/BusTicketingSystem/PlsCan Run/Service References/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6911/Service1.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6911/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6911/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PlsCan_Run.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service1_Get_All_Sales_InputMessage">
    <wsdl:part name="parameters" element="Get_All_Sales" />
  </wsdl:message>
  <wsdl:message name="Service1_Get_All_Sales_OutputMessage">
    <wsdl:part name="parameters" element="Get_All_SalesResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_Get_Find_Destination_InputMessage">
    <wsdl:part name="parameters" element="Get_Find_Destination" />
  </wsdl:message>
  <wsdl:message name="Service1_Get_Find_Destination_OutputMessage">
    <wsdl:part name="parameters" element="Get_Find_DestinationResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1">
    <wsdl:operation name="Get_All_Sales">
      <wsdl:input wsaw:Action="urn:Service1/Get_All_Sales" message="Service1_Get_All_Sales_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/Get_All_SalesResponse" message="Service1_Get_All_Sales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Find_Destination">
      <wsdl:input wsaw:Action="urn:Service1/Get_Find_Destination" message="Service1_Get_Find_Destination_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/Get_Find_DestinationResponse" message="Service1_Get_Find_Destination_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>